In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

sns.set()

IMPORT DATA

In [2]:
data_raw = pd.read_csv('Brest Cancer.csv', index_col=[0])

target = Class: 2 for benign, 4 for malignant
but later will be change like this:
target = Class: 0 for benign, 1 for malignant

In [3]:
data_raw

,Class,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,2,5,1,1,1,2,1,3,1,1
1,2,5,4,4,5,7,10,3,2,1
2,2,3,1,1,1,2,2,3,1,1
3,2,6,8,8,1,3,4,3,7,1
4,2,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...,...
694,2,3,1,1,1,3,2,1,1,1
695,2,2,1,1,1,2,1,1,1,1
696,4,5,10,10,3,7,3,8,10,2
697,4,4,8,6,4,3,4,10,6,1
698,4,4,8,8,5,4,5,10,4,1

In [4]:
data_raw.columns

Index(['Class', 'Clump Thickness', 'Uniformity of Cell Size ',
       'Uniformity of Cell Shape', 'Marginal Adhesion',
       'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
       'Normal Nucleoli', 'Mitoses'],
      dtype='object')

In [5]:
data_raw.isnull().sum()

Class                          0
Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
dtype: int64

In [6]:
data_raw.describe()

,Class,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
count,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,2.699854,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221
std,0.954592,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674
min,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000
50%,2.000000,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000
75%,4.000000,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000
max,4.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [7]:
data_raw.tail()

,Class,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
694,2,3,1,1,1,3,2,1,1,1
695,2,2,1,1,1,2,1,1,1,1
696,4,5,10,10,3,7,3,8,10,2
697,4,4,8,6,4,3,4,10,6,1
698,4,4,8,8,5,4,5,10,4,1

In [8]:

data_raw.loc[(data_raw.Class == 4),'Class']=1
data_raw.loc[(data_raw.Class == 2),'Class']=0

#df.loc[(df.Event == 'Dance'),'Event']='Hip-Hop'

In [9]:
data_raw.head(20)

,Class,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,0,5,1,1,1,2,1,3,1,1
1,0,5,4,4,5,7,10,3,2,1
2,0,3,1,1,1,2,2,3,1,1
3,0,6,8,8,1,3,4,3,7,1
4,0,4,1,1,3,2,1,3,1,1
5,1,8,10,10,8,7,10,9,7,1
6,0,1,1,1,1,2,10,3,1,1
7,0,2,1,2,1,2,1,3,1,1
8,0,2,1,1,1,2,1,1,1,5
9,0,4,2,1,1,2,1,2,1,1
10,0,1,1,1,1,1,1,3,1,1
11,0,2,1,1,1,2,1,2,1,1
12,1,5,3,3,3,2,3,4,4,1
13,0,1,1,1,1,2,3,3,1,1
14,1,8,7,5,10,7,9,5,5,4
15,1,7,4,6,4,6,1,4,3,1
16,0,4,1,1,1,2,1,2,1,1
17,0,4,1,1,1,2,1,3,1,1
18,1,10,7,7,6,4,10,4,1,2
19,0,6,1,1,1,2,1,3,1,1

In [10]:
data_raw.describe()

,Class,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
count,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,0.349927,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221
std,0.477296,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000
50%,0.000000,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000
75%,1.000000,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000
max,1.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [11]:
data_clean = data_raw.copy()

In [12]:
target = data_clean.Class

In [13]:
target.shape

(683,)

In [14]:
input_unscale = data_clean.drop(['Class'], axis= 1)

In [15]:
input_unscale.shape

(683, 9)

.to_numpy() ==> conversion from dataframes to numpy arrays retaining column dtypes and names

In [16]:
target = target.to_numpy()

In [17]:
target.shape

(683,)

In [18]:
#creating a variable that contain the number of items in the array target
num_one_targets = int(np.sum(target))

In [19]:
target.dtype

dtype('int64')

### Balance the dataset

BALANCE: MACHING THE QUANTITY OF ZEROS AND ONES, THIS IS REQUIRED TO HAVE A GOOD MODEL

In [20]:
unique_elements, counts_elements = np.unique(target, return_counts=True)
np.asarray((unique_elements, counts_elements))

array([[  0,   1],
       [444, 239]], dtype=int64)

In [21]:
# Count how many targets are 1 (meaning that the customer did convert)
num_one_targets = int(np.sum(target))

# Set a counter for targets that are 0 (meaning that the customer did not convert)
zero_targets_counter = 0

# We want to create a "balanced" dataset, so we will have to remove some input/target pairs.
# Declare a variable that will do that:
indices_to_remove = []

# Count the number of targets that are 0. 
# Once there are as many 0s as 1s, mark entries where the target is 0.
for i in range(target.shape[0]):
    if target[i] == 0:
        zero_targets_counter += 1
        if zero_targets_counter > num_one_targets:
            indices_to_remove.append(i)

In [22]:
target[i]

1

In [23]:
target.shape[0]

683

In [24]:
target.shape

(683,)

In [25]:
num_one_targets

239

In [26]:
len(indices_to_remove)

205

.to_numpy() ==> conversion from dataframes to numpy arrays retaining column dtypes and names

In [27]:
input_unscale = input_unscale.to_numpy()

In [28]:

# Create two new variables, one that will contain the inputs, and one that will contain the targets.
# We delete all indices that we marked "to remove" in the loop above.
x_unscaled = np.delete(input_unscale, indices_to_remove, axis=0)

In [29]:
x_unscaled.shape

(478, 9)

In [30]:
x_unscaled

array([[ 5,  1,  1, ...,  3,  1,  1],
       [ 5,  4,  4, ...,  3,  2,  1],
       [ 3,  1,  1, ...,  3,  1,  1],
       ...,
       [ 5, 10, 10, ...,  8, 10,  2],
       [ 4,  8,  6, ..., 10,  6,  1],
       [ 4,  8,  8, ..., 10,  4,  1]], dtype=int64)

In [31]:
target = np.delete(target, indices_to_remove, axis=0)

In [32]:
target.shape

(478,)

##NORMALIZATION

In [33]:
scaler = StandardScaler()
scaler.fit(x_unscaled)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [34]:
x_scaled = scaler.transform(x_unscaled)

In [35]:
x_scaled.shape

(478, 9)

### Shuffle the data

In [36]:
# When the data was collected it was actually arranged by date
# Shuffle the indices of the data, so the data is not arranged in any way when we feed it.
# Since we will be batching, we want the data to be as randomly spread out as possible
shuffled_indices = np.arange(x_scaled.shape[0])
np.random.shuffle(shuffled_indices)

# Use the shuffled indices to shuffle the inputs and targets.
shuffled_inputs = x_scaled[shuffled_indices]
shuffled_targets = target[shuffled_indices]

### Split the dataset into train, validation, and test

In [37]:
# Count the total number of samples
samples_count = shuffled_inputs.shape[0]

# Count the samples in each subset, assuming we want 80-10-10 distribution of training, validation, and test.
# Naturally, the numbers are integers.
train_samples_count = int(0.8 * samples_count)
validation_samples_count = int(0.1 * samples_count)

# The 'test' dataset contains all remaining data.
test_samples_count = samples_count - train_samples_count - validation_samples_count

# Create variables that record the inputs and targets for training
# In our shuffled dataset, they are the first "train_samples_count" observations
train_inputs = shuffled_inputs[:train_samples_count]
train_targets = shuffled_targets[:train_samples_count]

# Create variables that record the inputs and targets for validation.
# They are the next "validation_samples_count" observations, folllowing the "train_samples_count" we already assigned
validation_inputs = shuffled_inputs[train_samples_count:train_samples_count+validation_samples_count]
validation_targets = shuffled_targets[train_samples_count:train_samples_count+validation_samples_count]

# Create variables that record the inputs and targets for test.
# They are everything that is remaining.
test_inputs = shuffled_inputs[train_samples_count+validation_samples_count:]
test_targets = shuffled_targets[train_samples_count+validation_samples_count:]

# We balanced our dataset to be 50-50 (for targets 0 and 1), but the training, validation, and test were 
# taken from a shuffled dataset. Check if they are balanced, too. Note that each time you rerun this code, 
# you will get different values, as each time they are shuffled randomly.
# Normally you preprocess ONCE, so you need not rerun this code once it is done.
# If you rerun this whole sheet, the npzs will be overwritten with your newly preprocessed data.

# Print the number of targets that are 1s, the total number of samples, and the proportion for training, validation, and test.
print(np.sum(train_targets), train_samples_count, np.sum(train_targets) / train_samples_count)
print(np.sum(validation_targets), validation_samples_count, np.sum(validation_targets) / validation_samples_count)
print(np.sum(test_targets), test_samples_count, np.sum(test_targets) / test_samples_count)

186 382 0.4869109947643979
27 47 0.574468085106383
26 49 0.5306122448979592

### Save the three datasets in *.npz

In [38]:
# Save the three datasets in *.npz.
# In the next lesson, you will see that it is extremely valuable to name them in such a coherent way!

np.savez('Brest_Cancer_data_train', inputs=train_inputs, targets=train_targets)
np.savez('Brest_Cancer_data_validation', inputs=validation_inputs, targets=validation_targets)
np.savez('Brest_Cancer_data_test', inputs=test_inputs, targets=test_targets)